#authScreen {
    position: fixed;
    inset: 0;

    z-index: 10000;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;

    background:
        radial-gradient(
            circle at center,
            #172333,
            #080b10 70%
        );

    color: white;
}

.authBox {
    width: min(500px, 100%);

    padding: 28px;

    border-radius: 24px;

    background: rgba(20, 28, 38, .97);

    box-shadow: 0 20px 70px #0008;

    text-align: center;
}

.logo {
    font-size: 60px;
}

.authBox h1 {
    margin: 8px 0 5px;

    font-size: 36px;
}

.authSub {
    color: #9ba9b8;

    margin-bottom: 25px;
}

#emailInput {
    width: 100%;

    padding: 15px;

    border: 1px solid #394858;
    border-radius: 13px;

    background: #0d141c;

    color: white;

    outline: none;

    font-size: 16px;
}

.bigButton {
    width: 100%;

    margin-top: 12px;

    padding: 15px;

    border: 0;
    border-radius: 13px;

    background: #008ee6;

    color: white;

    font-weight: 800;
}

.bigButton:disabled {
    opacity: .55;
}

#authStatus {
    min-height: 22px;

    margin-top: 15px;

    color: #b9c5d2;

    font-size: 14px;
}
